<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
  <% if(locals.numberofletters){%> <!--locals object is always present in ejs to check if data is sent from server or not. we cannot simply check by if(numberofletters), it will crash in ejs. so use locals to check if anything is sent from server-->

    <h1>There are <%=numberofletters%> letters in your name</h1>
  <%} else {%>
    <h1>Write your name here</h1>
  <%}%>
  
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
</body>

</html>